<ion-header>
  <ion-toolbar>
    <ion-title>Scores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label class="go">GAME OVER</ion-label>
  <div id="container">
      <ion-label style="font-size: 20px;">Your Max Level  {{ level }}</ion-label><br>
      
      <ion-button  [routerLink]="['/page-palabra', lista ]" slot="icon-only">
        <ion-icon size="large" name="reload-outline" ></ion-icon>
        </ion-button>
        <ion-button  routerLink='/home' slot="icon-only">
          <ion-icon size="large" name="play-outline" ></ion-icon>
          </ion-button>
  </div>
</ion-content>
