.bordes{
    color:green;
}

ion-icon{
    font-size: x-large;
    color: #003459;
}

.star{
    // --background: #FFEB3B;
    // background-color: #FFEB3B;
    color: #FBC02D;
}

ion-button{
    // height: 100%;
     font-size: 18px;
    --border-color: #007ea7;
    --color: #003459;
    --background: hsl(0, 17%, 98%);
    --color-activated: red;
}
