.bordes{
    color:green;
}

ion-icon{
    font-size: x-large;
    color: #003459;
}

.star{
    // --background: #FFEB3B;
    // background-color: #FFEB3B;
    color: #FBC02D;
}

ion-button{
    --border-color: #007ea7;
    --color: #003459;
}