<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Memorize it
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="animated fadeIn">
    <ion-grid >
      <ion-row>
        <ion-col  class="cubo">
          <ion-button [routerLink]="['/page-palabra','easy']" class="btn">
            EASY
          </ion-button>
        </ion-col>
        
        <ion-col  class="cubo">
          <ion-button [routerLink]="['/page-palabra','fast']" class="btn">
            FAST
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  class="cubo">
          <ion-button [routerLink]="['/page-palabra','symbols']" class="btn">
            Symbols
          </ion-button>
        </ion-col>
        
        <ion-col class="cubo">
          <ion-button [routerLink]="['/page-palabra','numerics']" class="btn">
            NUMERIC
          </ion-button>
        </ion-col>
      </ion-row>
    
    </ion-grid>
  </div>
 
</ion-content>
